Images:<br/>
<%= image_tag "/images/en_US/flag.png" %>
<br/>
<%= image_tag "/images/ru_RU/flag.png" %>
<style type="text/css">
@import url("http://www.mydlifecrisis.com/sltestcontent/images.css");
</style>

<div id="img_1" class="flag-image-css" >
</div>

<div style="background-image:url('/images/en_US/flag.png');width:100px;height:100px;">