<h1>Test Smartling site</h1>

Hello!
<p>
  <div class='notranslate'>11,234,567.89234</div>
  <div class='notranslate'>1.234.567,89234</div>
</p>

<div CLASS="some_class_id">
<H2>TALK TO A PRODUCT SPECIALIST</h2>
      <P>Our Headquarters Product Specialist team is available between 8AM and 6PM Pacific
      <span ID="id34">
      to answer questions and help you with your Model S configuration. Call us: 1-877-798-3752
      </span>
      </p>
</div>

<script>
/* <sl:translate> */
var t = "JavaScript Text";
var t2 = '<span class=>JavaScript Text Span</span>';
var t3 = '<span class=">JavaScript < & Text Span</span>';
/* </sl:translate> */
</script>
