      	<div class="row">
  			<div class="span4">    		
  				<strong>Территориальные избирательные округа:</strong>
    			<ul>
    			<li><a href="#">Амур-Нижнеднепровский район (№24)</a></li>
    			<li><a href="#">Индустриальный и Самарский районы (№25)</a></li>
    			<li><a href="#">Жовтневый район (№26)</a></li>
    			<li><a href="#">Бабушкинский район (№27)</a></li>
    			<li><a href="#">Красногвардейский район (№28)</a></li>
    			<li><a href="#">Ленинский район (№29)</a></li>
    			</ul>
  			</div>
  			<div class="span8">
	      		<img alt="карта" src="http://maps.googleapis.com/maps/api/staticmap?center=Dnipropetrovsk,Ukraine&zoom=11&size=475x675&scale=2&sensor=false&path=color:0xff0000aa|weight:2|48.409605,34.898758|48.56025,35.054626|48.396385,35.17067|48.409605,34.898758" width="100%" height="auto">
  			</div>
		</div>
