<style>
.news {
	margin-bottom: 2px;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 8px 15px;
}
.tags {
	font-size: 11px;
	color: #C0C0C0;
}
.description {
	padding-top: 6px;
	padding-bottom: 6px;
}
</style>
<div class="row-fluid">
	<div class="span6">
		<div class="news">
			<h4><a href="http://tyzhden.ua/Almost/45239">Регионалы засветили свои недешевые часы (фото)</a></h4>
			<div class="description">
				Стоимость часов на руках регионалов колеблется от $5 тыс. до $40–50 тыс. 
				Понятно на какие деньги их купили бизнесмены от власти, но откуда у чиновников 
				деньги на элитные драгоценности?
			</div>
			<div>
				Источник: <a href="http://tyzhden.ua">Тиждень</a>
			</div>
			<div class="tags">
				Теги: ПР, доходы | <a href="#">кеш статьи</a>
			</div>
		</div>    		
		<div class="news">
			<h4><a href="http://politics.comments.ua/2012/03/20/328426/10-predvibornih-mifov.html">10 предвыборных мифов</a></h4>
			<div class="description">
				Даже если тебе никто из кандидатов не нравится, сходи на участок, выбери наилучшего среди худших. 
			</div>
			<div>
				Источник: <a href="http://comments.ua/">Комментарии</a>
			</div>
			<div class="tags">
				Теги: голосование | <a href="#">кеш статьи</a>
			</div>
		</div>    		
	</div>
	<div class="span6">
	</div>
</div>
