<div class="hero-unit">
  <h1>28 октября 2012</h1>
  <p>В этот день состоятся выборы в Верховную Раду. Кроме партий нам придется выбирать депутата,
который будет представлять наш избирательный округ в Раде.</p> 
<p>Узнай кто идет в Раду. Сделай осознанный выбор. Не ошибись.</p>
</div>

<div class="row-fluid">
	<div class="span6">

		<div class="news">
			<h4><a href="http://dnepr.comments.ua/article/2012/03/19/133043.html">Ивана Ступака к победе приведет папазол</a></h4>
			<div class="description">
				В Днепропетровске на встречах с замгубернатором Днепропетровской области Иваном Ступаком раздают наборы, 
				в которые входят медпрепараты, упакованные в чехол с его именем. Дешевый набор получается. 
				Видимо, Иван Иваныч бережет деньги на осеннюю компанию.
			</div>
			<div>
				Источник: <a href="http://dnepr.comments.ua">Днепропетровск. Комментарии</a>
			</div>
			<div class="tags">
				Теги: ПР, Иван Ступак, Днепропетровск, Бабушкинский район | <a href="#">кеш статьи</a>
			</div>
		</div>    		

		<div class="news">
			<h4><a href="http://www.pravda.com.ua/rus/news/2012/03/26/6961420/">Для коммуниста Porsche Cayenne - не роскошь</a></h4>
			<div class="description">
				Коммунист Юрий Гайдаєв не считает свое авто Porsche Cayenne элитным и не очень хочет платить за него больший налог.
				Интересно, этот комунист знает, что Фердинанд Порше производил танки для фашистов во времена Второй мировой войны?!
			</div>
			<div>
				Источник: <a href="http://www.pravda.com.ua">Украинская правда</a>
			</div>
			<div class="tags">
				Теги: Компартия, Украина | <a href="#">кеш статьи</a>
			</div>
		</div>    		

		<div class="news">
			<h4><a href="http://www.litsa.com.ua/news/own/5565/byvshiy-sovetnik-prezidenta-i-deputat-oblsoveta-ot-pr-obyavlen-v-mezhdunarodnyy-rozysk.htm">
					Бывший советник президента и депутат облсовета от ПР объявлен в международный розыск</a></h4>
			<div class="description">
				Антона Грицая обвиняют по части 1 статьи 263 Уголовного Кодекса Украины (ношение, хранение, приобретение, 
				изготовление, ремонт, передача или сбыт огнестрельного оружия (кроме гладкоствольной охотничьей), 
				боевых припасов, взрывных веществ или взрывных устройств без предусмотренного законом разрешения).
			</div>
			<div>
				Источник: <a href="http://www.litsa.com.ua">Лица</a>
			</div>
			<div class="tags">
				Теги: ПР, Днепропетровск | <a href="#">кеш статьи</a>
			</div>
		</div>    		

		<div class="news">
			<h4><a href="http://www.dniprograd.org/ua/news/anons/12129">Регионал считает, что оппозиции не существуют, а журналисты - тупые</a></h4>
			<div class="description">
				Заместитель руководителя Днепропетровской областной организации Партии регионов Павел Безуглый не верит в реальность 
				существования оппозиции, а достижения регионалов не могут быть поняты никем.
			</div>
			<div>
				Источник: <a href="http://www.dniprograd.org">Дніпроград</a>
			</div>
			<div class="tags">
				Теги: ПР, Днепропетровск | <a href="#">кеш статьи</a>
			</div>
		</div>    		

		<div class="news">
			<h4><a href="http://tyzhden.ua/Almost/45239">Регионалы засветили свои недешевые часы (фото)</a></h4>
			<div class="description">
				Стоимость часов на руках регионалов колеблется от $5 тыс. до $40–50 тыс. 
				Понятно на какие деньги их купили бизнесмены от власти, но откуда у чиновников 
				деньги на элитные драгоценности?
			</div>
			<div>
				Источник: <a href="http://tyzhden.ua">Тиждень</a>
			</div>
			<div class="tags">
				Теги: ПР, доходы, Украина | <a href="#">кеш статьи</a>
			</div>
		</div>    		

		<div class="news">
			<h4><a href="http://politics.comments.ua/2012/03/20/328426/10-predvibornih-mifov.html">10 предвыборных мифов</a></h4>
			<div class="description">
				Даже если тебе никто из кандидатов не нравится, сходи на участок, выбери наилучшего среди худших. 
			</div>
			<div>
				Источник: <a href="http://comments.ua/">Комментарии</a>
			</div>
			<div class="tags">
				Теги: голосование | <a href="#">кеш статьи</a>
			</div>
		</div>    		
	</div>
	<div class="span6">
	</div>
</div>
